{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "trailingComma": "es5",
        "printWidth": 100,
        "singleQuote": true
      }
    ]
  }
}
